[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = git@github.com:neerajrocks2k12/neerajrocks2k12.github.io.git
	branch = master
